# Exporatory data analysis
## Defining the business question

The question at hand is to analyze data to find out the top grossing types of films at the Box Office currentyl

## 1.Importation of libraries for EDA

In [98]:
import pandas as pd
import sqlite3 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

## 2. Loading and preview of the first data set

In [99]:
#Importing gross movie data 
movie_gross = pd.read_csv("data/bom_movie_gross.csv")

#A preview of top 5 rows
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3 ...,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010) ...,BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1 ...,WB,296000000.0,664300000,2010
3,Inception ...,WB,292600000.0,535700000,2010
4,Shrek Forever After ...,P/DW,238700000.0,513900000,2010

In [100]:
#A preview of the bottom 5 rows
movie_gross.tail()

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake ...,Magn.,6200.0,,2018
3383,Edward II (2018 re-release) ...,FM,4800.0,,2018
3384,El Pacto ...,Sony,2500.0,,2018
3385,The Swan ...,Synergetic,2400.0,,2018
3386,An Actor Prepares ...,Grav.,1700.0,,2018

In [101]:
#Reviewing the number of rows and columns
movie_gross.shape

(3387, 5)

In [102]:
#Checking the number of rows of each column to identify null values
movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   title                                                                3387 non-null   object
 1   studio                                                               3387 non-null   object
 2   domestic_gross                                                       3387 non-null   object
 3   foreign_gross                                                        3387 non-null   object
 4   year                                                                 3387 non-null   int64
dtypes: int64(1), object(4)
memory usage: 132.4+ KB

In [103]:
#checking the number of rows of each column. 
movie_gross.count()

title                                                                  3387
studio                                                                 3387
domestic_gross                                                         3387
foreign_gross                                                          3387
year                                                                   3387
dtype: int64

In [104]:
movie_gross.describe()

              year
count  3387.000000
mean   2013.958075
std       2.478141
min    2010.000000
25%    2012.000000
50%    2014.000000
75%    2016.000000
max    2018.000000

In [105]:
movie_gross.columns

Index(['title                                                              ',
       'studio       ', 'domestic_gross ', 'foreign_gross ', 'year'],
      dtype='object')

In [106]:
#Getting rid of white spaces in the column names. 
movie_gross.columns = movie_gross.columns.str.strip()

In [107]:
#Finding the number of unique studios in the dataframe
unique_movie_studio = movie_gross["studio"].nunique()
unique_movie_studio

258

In [108]:
# movie_info = pd.read_csv("data/rt_movie_info.tsv", delimiter= "\t")
# movie_info.head(5)

In [109]:
#Connecting to the database file:
# conn = sqlite3.connect("data/im.db")

In [110]:
# im_db = pd.read_sql("""
#     SELECT name
#     FROM sqlite_master
#     WHERE type = "table";
# """,
# conn
# )
# im_db

## 3. Cleaning the first dataframe

In [111]:
#Checking for null values
movie_gross.isnull().values.any()

False

In [112]:
#Checking for duplicate rows 
movie_gross.duplicated().sum()

0

In [127]:

# Check unique values in the "domestic_gross" column
unique_values = movie_gross["domestic_gross"].unique()
print(unique_values)

[4.150e+08 3.342e+08 2.960e+08 ... 2.070e+04 1.290e+04 2.400e+03]

In [129]:

# Convert the 'domestic_gross' and 'foreign_gross' columns to numeric
movie_gross['domestic_gross'] = pd.to_numeric(movie_gross['domestic_gross'], errors='coerce')
movie_gross['foreign_gross'] = pd.to_numeric(movie_gross['foreign_gross'], errors='coerce')

# Check the data types after conversion
print(movie_gross.dtypes)

title              object
studio             object
domestic_gross    float64
foreign_gross     float64
year                int64
dtype: object

In [132]:
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000.0,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010
3,Inception,WB,292600000.0,535700000.0,2010
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010